@using System.Security.Claims;
@*Getting values of curent controller and action method.*@
@{
    string controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    string action = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty;
}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    
    <div class="app-brand demo">
        
        <partial name="Logo" />

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item 
            @(controller == "Home" && action == "Index" ? "active" : "")" 
              id="dashboard">

            <a class="menu-link" asp-controller="Home" asp-action="Index">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <!-- / Dashboard -->

        @if (User.Identity?.IsAuthenticated == false)
        {
        <!--Authentication  heading-->
        <li class="menu-header small">
            <span class="menu-header-text">Authenticaion</span>
        </li>
        <!--Authentication  heading-->

        <!--Register-->
        <li class="menu-item">
            <a asp-controller="Users" asp-action="Register"
               class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-plus"></i>
                <div data-i18n="Register">Register</div>
            </a>
        </li>
        <!--Register-->

        <!--Login-->
        <li class="menu-item">
            <a asp-controller="Users" asp-action="Login"
               class="menu-link">
                <i class="menu-icon tf-icons bx bx-log-in"></i>
                <div data-i18n="Login">Login</div>
            </a>
        </li>
        <!--Login-->
        }

        <!--Lists-->
        @if (User.Identity?.IsAuthenticated == true && User.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "Staff"))
        {
            <!--Info  heading-->
            <li class="menu-header small">
                <span class="menu-header-text">Menu</span>
            </li>
            <!--Info  heading-->

            <li class="menu-item
            @(controller == "Users" && action == "DoctorList" ? "active" : "")">

                <a asp-controller="Users" asp-action="DoctorList"
                   class="menu-link">
                    <i class="menu-icon tf-icons fas fa-user-md"></i>
                    <div data-i18n="DoctorList">Doctors</div>
                </a>
            </li>

            <li class="menu-item
            @(controller == "Users" && action == "PatientList" ? "active" : "")">

                <a asp-controller="Users" asp-action="PatientList"
                   class="menu-link">
                    <i class="menu-icon tf-icons fas fa-user-injured"></i>
                    <div data-i18n="PatientList">Patients</div>
                </a>
            </li>

            <li class="menu-item
            @(controller == "Appointments" && action == "AppointmentList" ? "active" : "")">

                <a asp-controller="Appointments" asp-action="AppointmentList"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-list-ol"></i>
                    <div data-i18n="AppointmentList">Appointments</div>
                </a>
            </li>
        }
        <!--Lists-->
        @if (User.Identity?.IsAuthenticated == true && User.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "Patient"))
        {
            <!--Info  heading-->
            <li class="menu-header small">
                <span class="menu-header-text">Menu</span>
            </li>
            <!--Info  heading-->
            
            <li class="menu-item
            @(controller == "Appointments" && action == "MyAppointmentList" ? "active" : "")">

                <a asp-controller="Appointments" asp-action="MyAppointmentList"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-list-ol"></i>
                    <div data-i18n="AppointmentList">My Appointments</div>
                </a>
            </li>

            <!--Add Appointment-->
            <li class="menu-item
            @(controller == "Appointments" && action == "AddAppointment" ? "active" : "")">

                <a asp-controller="Appointments" asp-action="AddAppointment"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-book-add"></i>
                    <div data-i18n="AddAppointment">Add Appointment</div>
                </a>
            </li>
            <!--Add Appointment-->
        }

        @if (User.Identity?.IsAuthenticated == true && User.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "Doctor"))
        {
            <!--Info  heading-->
            <li class="menu-header small">
                <span class="menu-header-text">Menu</span>
            </li>
            <!--Info  heading-->

            <li class="menu-item
            @(controller == "Appointments" && action == "ActiveAppointmentList" ? "active" : "")">

                <a asp-controller="Appointments" asp-action="ActiveAppointmentList"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-list-ol"></i>
                    <div data-i18n="ActiveAppointmentList">Appointments</div>
                </a>
            </li>

        }

        <!--Info  heading-->
        <li class="menu-header small">
            <span class="menu-header-text">Info</span>
        </li>
        <!--Info  heading-->

        <!--Privary Policy-->
        <li class="menu-item
            @(controller == "Home" && action == "Privacy" ? "active" : "")"
            id="help">

            <a asp-controller="Home" asp-action="Privacy"
               class="menu-link">
                <i class="menu-icon tf-icons bx bx-check-shield"></i>
                <div data-i18n="Help">Privacy Policy</div>
            </a>
        </li>
        <!--Help-->
    </ul>
</aside>
<!-- / Menu -->